div.course {
  margin-top: 3em;
}

div.row.meeting {
  margin-bottom: 2px;
}

.rectangle.liv {
  background-color: blue;
}

.rectangle.cac {
  background-color: yellow;
}

.rectangle.bus {
  background-color: purple;
}

.rectangle.dc {
  background-color: green;
}

.label-primary {
  background-color: purple;
}

#scheduler {
  display: none;
}

div.btn-group {
  margin-bottom: 15px;
}

ul.ui-autocomplete.ui-widget-content {
  background-color: white;
}

input[type="text"].search-bar {
  width: 100%;
  font-size: 24px;
  padding: 5px 10px;
}

.ui-menu li.ui-menu-item {
  display: block;
  font-size: 20px;
  padding: 4px;
}

li.ui-menu-item .ui-state-focus {
  background: none;
  border: none;
  pointer-events: cursor;
  color: inherit;
}

li.ui-menu-item:hover {
  background: #0097cf;
  color: white;
}

li.ui-menu-item a.result-type {
  font-style: italic;
  font-size: 14px;
  line-height: 20px;
}

.section {
  margin-top: 2em;
}

.section .meetingTime {
    padding: 0 1em;
    margin-top: .5em;
}

@media (min-width: 992px) {
  .section .meetingTime:not(:last-child) {
    border-right: 2px black solid;
  }
}
