div.course {
  margin-bottom: 10px;
  padding: 10px;
}

div.row.section {
  padding: 5px;
  border: 1px solid black;
}

div.row.meeting {
  margin-bottom: 2px;
}

.rectangle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.rectangle.liv {
  background-color: blue;
}

.rectangle.cac {
  background-color: yellow;
}

.rectangle.bus {
  background-color: purple;
}

.rectangle.dc {
  background-color: green;
}

#scheduler {
  display: none;
}

div.btn-group {
  margin-bottom: 15px;
}

ul.ui-autocomplete.ui-widget-content {
  background-color: white;
}

input[type="text"].search-bar {
  width: 400px;
  font-size: 24px;
}

.ui-menu li.ui-menu-item {
  display: block;
  font-size: 20px;
  padding: 4px;
}

li.ui-menu-item .ui-state-focus {
  background: none;
  border: none;
  pointer-events: cursor;
  color: inherit;
}

li.ui-menu-item:hover {
  background: #0097cf;
  color: white;
}

li.ui-menu-item a.result-type {
  font-style: italic;
  font-size: 14px;
  line-height: 20px;
}
