div.course {
  margin-bottom: 10px;
  padding: 10px;
}

div.row.section {
  padding: 5px;
  border: 1px solid black;
}

div.row.meeting {
  margin-bottom: 2px;
}

.rectangle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.rectangle.liv {
  background-color: blue;
}

.rectangle.cac {
  background-color: yellow;
}

.rectangle.bus {
  background-color: purple;
}

.rectangle.dc {
  background-color: green;
}

#scheduler {
  display: none;
}

div.btn-group {
  margin-bottom: 15px;
}

li.result {
  height: 50px;
  padding: 8px 20px;
  width: 300px;
  white-space: nowrap;
}

li.result .result-code {
  float: right;
}

li.result p {
  display: inline;
}

li.result .result-title {
  font-weight: bold;
}

li.result .result-type {
}

ul.ui-autocomplete.ui-widget-content {
  background-color: white;
}
