<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Schedule</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/foundation.min.css">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/static/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/static/css/app.css">

        <script type="text/javascript" src="/static/js/custom.modernizr.js"></script>
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/foundation.min.js"></script>

    </head>
    <body>
        <div class="row">
            <div class="large-12 columns">
                <h1> Scheduler </h1>
                <form action="" id="scheduler">
                    <input type="text" class="search-bar" placeholder="Look up a Course" />
                </form>
                <input type="submit" class="button" value="Search" />
            </div>
        </div>
    </body>
</html>
