{% extends 'layout.html' %}
{% block head %}
    <script type="text/javascript">
        window.json = {{ json | safe }};
    </script>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="large-12 columns text-center">
            <h1> Scheduler </h1>
            <div class="container">
                <form action="" id="scheduler">
                    <input type="text" class="search-bar typeahead tt-query" placeholder="Look up a Course" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}
