extends 'layout.html.jade'
block body
  .row
    .col-md-6.col-md-offset-3.text-center
      h1 Scheduler
      h3 Pick your campus
      div.btn-group
        button.btn.btn-primary.campus(value="NB") New Brunswick
        button.btn.btn-primary.campus(value="NK") Newark
        button.btn.btn-primary.campus(value="CM") Camden
      include searchbar.html.jade
