extends 'layout.html.jade'
block head
  script(type="text/javascript")
    var yurl = 'https://query.yahooapis.com/v1/public/yql';
    var url = 'https://rumobile.rutgers.edu/1/indexes/92013_NB_U.json';

    $.ajax({
      'url': yurl,
      'data': {
        'q': 'SELECT * FROM json WHERE url="'+url+'"',
        'format': 'json',
        'jsonCompat': 'new',
      },
      'dataType': 'jsonp',
      'success': function(response) {
        window.json = response.query.results.json;
        console.log('Successfully loaded data from rutgers')
      },
    });
block body
  .row
    .large-12.columns.text-center
      h1 Scheduler
        .container
          form(action='', id='scheduler')
            input.search-bar.typeahead.tt-query(type='text', placeholder='Look up a course')
