<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Schedule</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/foundation.min.css">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/static/css/syntax.css">
        <link rel="stylesheet" href="/static/css/jquery.ui.min.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/static/css/app.css">

        <script type="text/javascript" src="/static/js/custom.modernizr.js"></script>
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/foundation.min.js"></script>
        <script type="text/javascript" src="/static/js/typeahead.min.js"></script>
        <script type="text/javascript" src="/static/js/underscore.min.js"></script>

        <script type="text/javascript" src="/static/js/jquery.ui.js"></script>
        <script type="text/javascript" src="/static/js/autocomplete.js"></script>
        {% block head %} {% endblock %}

        <script type="text/javascript" src="/static/js/app.js"></script>

    </head>
    <body>
        {% block body %} {% endblock %}
    </body>
</html>
